.new
  margin-bottom: 80px
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    gap: 1em
    @include max(767)
      flex-direction: column
      margin-bottom: 1em
      .button
        margin-top: -20px
  &__wrap
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 50px 60px
    margin-bottom: 60px
    @include between(768, 1280)
      gap: 50px 30px
    @include between(768, 1024)
      grid-template-columns: 1fr 1fr
    @include max(767)
      grid-template-columns: 1fr