.promo
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding: 65px 0 75px
  color: #fff
  h3
    @include min(1280)
      max-width: 60%
  &__row
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 35px
    margin-top: 30px
  &__text
    max-width: 220px
