.services
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding: 40px 0 80px
  &__desc
    font: 400 20px/1.5 $mainFont
    max-width: 90%
    margin-bottom: 1em
  &__wrap
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 60px
  &__item
    position: relative
  &__img
    position: relative
    margin-bottom: 16px
  &__title
    font: 600 25px/1.2 $mainFont
  &__all
    margin-top: 30px