.UAE
  width: 100%
  background-size: 100%
  background-repeat: no-repeat
  background-position: top center
  padding: 70px 0
  h3
    text-align: center
    color: #fff
  &__desc
    text-align: center
    color: #fff
    font: 400 20px/1.5 $mainFont
    padding: 0 5% 1em
